<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I am in the app component</h3>
      <hr>
      <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">AddServer</button>
      <p>value of boolean is {{allowNewServer}}</p>
      <p>onCreateServer is {{onCreateServer}}</p>
      <app-servers></app-servers>
      <app-servers></app-servers>

      <label>YourName:</label>
      <!--<input type="text" class="form-control" [(input)]="onInputFromUser($event)">-->

      <input type="text" class="form-control" [(ngModel)]="htmlInputName">
      <p>Two way binding value: {{htmlInputName}}</p>
      <!--<div app-servers>
      </div>-->
      <!--<div class="app-servers"/>-->
    </div>
  </div>
</div>


