<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       ">

       <camelContext id="camel" trace="true" xmlns="http://camel.apache.org/schema/spring">
              <dataFormats>
                     <jaxb contextPath="com.imtiyaz.examples" id="jaxb"/>
              </dataFormats>

              <route>
                     <from uri="direct:order"/>
                     <marshal ref="jaxb"/>
                     <to uri="activemq:queue:order"/>
              </route>

              <route>
                    <from uri="activemq:queue:order"/>
                     <unmarshal ref="jaxb"/>
                     <to uri="direct:doSomething"/>
              </route>
       </camelContext>

</beans>